@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Newsreader&display=swap');

body {
 padding-left: 15%;
 padding-right: 15%;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Inter';
font-weight: 400;
letter-spacing: -0.025em;
}
			
* {
font-family: 'Newsreader'				
}
